# Virtual environments
.venv/
env/

# Python cache
__pycache__/
*.pyc

# Environment/config files
.env
ms_graph_api_token.json
.spotify_cache
tts.json
.porcupine_key

# Editor and tooling metadata
.idea/
.vscode/
.vs/

# Build artifacts
build/
dist/
*.spec.bak
*.pyc
__pycache__/
*.egg-info/

